<a name="top"></a>

<section class="article">  
  <h2 class="article-title">
    <%- page.title %> 
  </h2>
  <p class="article-date">
    <%- date(page.date, 'YYYY/M/D') %> 
  </p>

  <hr class="hr-divide">

  <div class="article-content">
    <%- page.content %> 
    <hr class="hr-divide">
    <div class="article-footer">
      <a href="#top">back to top</a>
    </div>
  </div>

  
</section>