<!-- <h1>This is the footer.ejs file</h1> -->

<footer class="footer">
  <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
  <p style="margin-top: 0px;">Powered by <a href="#">Hexo</a></p>
</footer> 