<!-- <h1>This is the footer.ejs file</h1> -->

<footer class="footer">
  <p style="margin-top: 0px;">
    Powered by <a href="https://hexo.io/">Hexo</a>
    Created by <a href="">@Qitian Lin</a>
  </p>
</footer> 