<nav id="nav">
  <header class="header">
    <a href="" class="header-title">
      BLUR <i class="fa fa-fire" aria-hidden="true"></i>
    </a>
    
  </header>

  

  <div class="nav-wrapper">
    <div class="menu">
      <a href="/" class="nav-menu z-active">HOME</a>
      <a href="" class="nav-menu">ABOUT</a>
      <a href="/archives" class="nav-menu">ARCHIVE</a>
    </div>

    <div class="icons">
      <a href="" class="nav-icon" >
        <i class="fa fa-github-alt" aria-hidden="true"></i>
      </a>
      <a href="" class="nav-icon">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
      <a href="" class="nav-icon">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
    </div>

    
  </div>
</nav>
    
<!-- <hr class="hr-divide-header" align="left"> -->