<div class="container">
    <nav class="navbar-brand">
      BLUR
    </nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Website</a>
      </li>
    </ul>
    
    
  </div>
    <hr class="hr-divide-header" align="left">