<!-- <div class="container"> -->
  <div class="banner">
    <div>
      <a class="header-title" href="#">BLUR BLOG</a>
    </div>
  </div>
  <hr class="hr-divide-header" align="left">
  
<!-- </div> -->
