<div class="sidebar-container">
  
  <img src="css/head.png" alt="" class="avatar img-thumbnail">
  

  <h2 class="sidebar-title">
    Qitian Lin
  </h2>

  <hr class="sidebar-hr">
  
  <ul class="sidebar-buttons">
    <!-- <li>
      <a href="#">About/  <i class="fa fa-child" aria-hidden="true"></i></a>
    </li> -->
    <li>
      <a href="#">Archives/  <i class="fa fa-folder-open" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="#">Tags/  <i class="fa fa-flag" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="#">Categories/  <i class="fa fa-sitemap" aria-hidden="true"></i></a>
    </li>
  </ul>
</div>